@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Oswald:300,400');
@import url('https://www.coninsa.co/sites/all/themes/bootstrap/css/home.css');
@import url('https://www.coninsa.co/sites/all/themes/bootstrap/build/coninsa.stylus.css');

body {
  font-weight: 400;
}

// Válido desde aquí.

@opensans: 'Open Sans', sans-serif;
@oswald: 'Oswald', sans-serif;

#ficha-main {
  font-family: @opensans;
  font-size: 16px;
  color: #3e3e3e;

  h3 {
    font-family: @oswald;
    font-size: 26px;
    color: black;
  }

  .col-md-5.no-padding {
    padding-left: 0;

    @media (max-width: 768px) {
      padding-left: 15px;
    }
  }

  .col-md-7.no-padding {
    padding-right: 0;

    @media (max-width: 768px) {
      padding-right: 15px;
    }
  }
}

.ficha-slider {

  margin-top: 10px;

  .ficha-next, .ficha-prev {
    position: absolute;
    top: 40%;
    cursor: pointer;
  }

  .ficha-prev {
    left: 40px;
    z-index: 10;
  }

  .ficha-next {
    right: 40px;
  }

  @media (max-width: 380px) {
    .ficha-prev {
      left: 20px;
    }

    .ficha-next {
      right: 20px;
    }
  }

  .slick-dots {
    bottom: 25px !important;
  }

  .slick-dots li button:before {
    color: white;
    opacity: 1;
    font-size: 10px;
  }

  .slick-dots li.slick-active button:before {
    color: #f9cc00;
    font-size: 14px;
  }
}

.ficha-info {
  box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  padding: 17px 19px;

  .ficha-title {
    position: relative;
    padding-bottom: 15px;

    h3 {
      margin-top: 0
    }

    .ficha-share {
      position: absolute;
      top: 0;
      right: 0;
    }

    @media (max-width: 380px) {
      h3 {
        text-align: center;
      }
      .ficha-share {
        position: relative;
        top: auto;
        right: auto;
        text-align: center;
      }
    }
  }

  .ficha-label {
    font-size: 14px;
    margin-bottom: 2px;
  }

  .ficha-text {
    font-family: @oswald;
    font-size: 20px;
    color: black;
  }

  @media (max-width: 460px) {
    .ficha-label{
      font-size: 11px;
    }

    .ficha-text {
      font-size: 16px;
    }
  }
}

.ficha-iwouldlike {
  a {
    color: #3e3e3e;
  }

  @media (min-width: 1024px) {
    .like {
      line-height: 19px;

      img, span {
        float: left;
        display: inline-block;
      }

      img {
        width: 65px;
        
        margin-right:10px;
      }

      span {
        width: 100px;
        padding-top: 10px;
      }
    }
  }
  

  @media (max-width: 768px) {
    margin-bottom: 20px;
  }

  .col-md-4:nth-child(2) {
    border: 1px solid #ccc;
    border-width: 0 1px;
  }
}

.ficha-contacto {
  .form-control {
    border-width: 0 0 1px 0;
    border-radius: 0;
    box-shadow: none;
    font-size: 18px;
    font-weight: 600;
    border-color: #b3b3b3;
  }

  .ficha-politicas {
    font-size: 11px;
    color: #6d6d6d;
  }

  a {
    color: #e9ae00;
  }
}

@media (max-width: 768px) {
  .section-title {
    span {
      display: block;
    }
  }
}

.caracteristicas {
  background: #f7f7f7;
  padding: 48px 0;

  .section-title {
    margin-bottom: 28px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    @media (max-width: 680px) {
      margin-left: 40px;
    }
  }

  li {
    padding-left: 1em; 
    text-indent: -.7em;
    padding-bottom:  5px;
  }

  li::before {
    content: "• ";
    color: #71a82a;
  }
}

.accesos {
  .home-posts {

    .post figure {
      z-index: 0;
    }
    .post.wi {
      height: 318px;
      max-height: 318px;

      @media (max-width: 768px) {
        height: 348px;
        max-height: 348px;
      }
      .title {
        font-size: 24px;
        z-index: 6;
        position: relative;
        margin-top: 10px;
      }

      .date {
        font-size: 11px;
        position: relative;
        z-index: 6;
      }

      .date, .title, .desc, .more {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  .more-blog {
    margin-top: 14px;
    a {
      color: #e9ae00;
    }
  }
}

.doble {
  min-height: 1px;
  height: 1px;
  background: #ccc;
  width: 100%;
  position: relative;
  div {
    position: absolute;
    width: 20%;
    background: #d53d2f;
    height: 3px;
    left: 40%;
    top: -1px;
  }

  &.final {
    margin-top: -5px;
  }
}

.ficha-ubicacion {
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom: 1px solid #ccc;
}

.ficha-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33%;
  clear: both;

  .ficha-item {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 4px 8px;
    border-bottom: 1px solid #ccc;

    &:nth-child(3n+2) {
      position: relative;

      &:after, &:before {
        content: '';
        height: 60%;
        width: 1px;
        position: absolute;
        right: 0;
        top: 15%;
        background: #ccc;
      }

      &:before {
        right: auto;
        left: 0;
      }
    }
  }
}

.ficha-terminos {
  background: #f7f7f7;
  padding: 50px 0 40px 0;
  color: #666;
  

  p {
    line-height: 1.3em;
  }

  .ficha-termino {
    background: #fff;
    padding: 50px 35px;
    max-height: 250px;
    height: 250px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);

    h3 {
      margin-top: 0;
      color: #22366c !important;
    }

    a {
      color: #e9ae00;
    }

    @media (max-width: 768px) {
      height: auto;
      max-height: none;

      &:nth-child(1) {
        margin-bottom: 10px;
      }
    }
  }
}
